<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypePlain</string>
		<key>TableViewContent</key>
		<array>
			<dict>
				<key>CellTitle</key>
				<string>Smart Order</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeSwitch</string>
				<key>UserDefaultKey</key>
				<string>ActivitySmartOrder</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypePlain</string>
		<key>TableViewContent</key>
		<array>
			<dict>
				<key>CellTitle</key>
				<string>Hide Past Activities</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeSwitch</string>
				<key>UserDefaultKey</key>
				<string>ActivityHidePast</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypeSeparator</string>
	</dict>
	<dict>
		<key>TableViewSupportsMultiSelection</key>
		<true/>
		<key>UserDefaultKey</key>
		<string>ActivityShowTypes</string>
		<key>TableViewType</key>
		<string>TableViewTypeGroup</string>
		<key>TableViewSectionHeader</key>
		<string>Show</string>
		<key>TableViewContent</key>
		<array>
			<dict>
				<key>CellTitle</key>
				<string>Academics</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeCheckmark</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>Competition</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeCheckmark</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>Entertainment</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeCheckmark</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>Enterprise</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeCheckmark</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TableViewSupportsMultiSelection</key>
		<false/>
		<key>UserDefaultKey</key>
		<string>ActivityOrderMethod</string>
		<key>TableViewType</key>
		<string>TableViewTypeGroup</string>
		<key>TableViewSectionHeader</key>
		<string>Order by</string>
		<key>TableViewContent</key>
		<array>
			<dict>
				<key>CellTitle</key>
				<string>Publish Date</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeCheckmark</string>
				<key>CellThumbnail</key>
				<string>WTPublishDateIcon</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>Popularity</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeCheckmark</string>
				<key>CellThumbnail</key>
				<string>WTPopularityIcon</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>Activity Start Date</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeCheckmark</string>
				<key>CellThumbnail</key>
				<string>WTEventIcon</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
