<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>嘉定校区</key>
	<array>
		<string>07号公寓</string>
		<string>08号公寓</string>
		<string>09号公寓</string>
		<string>10号公寓</string>
		<string>12号公寓</string>
		<string>13号公寓</string>
		<string>14号公寓</string>
		<string>15号公寓</string>
		<string>16号公寓</string>
		<string>17号公寓</string>
		<string>18号公寓</string>
		<string>19号楼</string>
		<string>20号楼</string>
		<string>本科4</string>
		<string>本科5</string>
		<string>本科6</string>
		<string>研究2</string>
		<string>研究3</string>
	</array>
	<key>四平校区</key>
	<array>
		<string>后勤公寓</string>
		<string>赤峰路后勤2</string>
		<string>后勤公寓三相</string>
		<string>解放楼</string>
		<string>青年楼</string>
		<string>西北一楼</string>
		<string>西北二楼</string>
		<string>西北三楼</string>
		<string>西北四楼</string>
		<string>西北五楼</string>
		<string>西南一楼</string>
		<string>西南二楼</string>
		<string>西南三楼</string>
		<string>西南七楼</string>
		<string>西南八楼</string>
		<string>西南九楼</string>
		<string>西南十楼A楼</string>
		<string>西南十楼B楼</string>
		<string>西南十一楼</string>
		<string>西南十二楼</string>
		<string>学三楼</string>
		<string>学四楼</string>
		<string>学五楼</string>
		<string>研究生公寓3</string>
		<string>研究生公寓4</string>
		<string>研究生公寓5</string>
		<string>行政北楼</string>
		<string>行政南楼</string>
	</array>
	<key>彰武校区</key>
	<array>
		<string>1号楼</string>
		<string>2号楼</string>
		<string>3号楼</string>
		<string>4号楼</string>
		<string>5号楼</string>
		<string>6号楼</string>
		<string>7号楼</string>
	</array>
	<key>沪北校区</key>
	<array>
		<string>第一宿舍</string>
		<string>第二宿舍</string>
		<string>第三宿舍</string>
	</array>
	<key>DistrictIndexArray</key>
	<array>
		<string>嘉定校区</string>
		<string>四平校区</string>
		<string>彰武校区</string>
		<string>沪北校区</string>
	</array>
</dict>
</plist>
