<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypeTextField</string>
		<key>TableViewContent</key>
		<array>
			<dict>
				<key>CellTitle</key>
				<string>Motto</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeTextField</string>
				<key>UserDefaultKey</key>
				<string>CurrentUserMotto</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>Phone</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeTextField</string>
				<key>UserDefaultKey</key>
				<string>CurrentUserPhone</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>Email</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeTextField</string>
				<key>UserDefaultKey</key>
				<string>CurrentUserEmail</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>Sina Weibo</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeTextField</string>
				<key>UserDefaultKey</key>
				<string>CurrentUserSinaWeibo</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>QQ</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeTextField</string>
				<key>UserDefaultKey</key>
				<string>CurrentUserQQ</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>Dorm</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeTextField</string>
				<key>UserDefaultKey</key>
				<string>CurrentUserDorm</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypeSeparator</string>
	</dict>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypePlain</string>
		<key>TableViewContent</key>
		<array>
			<dict>
				<key>CellTitle</key>
				<string>Schedule notification</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeSwitch</string>
				<key>UserDefaultKey</key>
				<string>ScheduleNotificationEnabled</string>
			</dict>
			<dict>
				<key>CellTitle</key>
				<string>Use test server</string>
				<key>CellAccessoryType</key>
				<string>CellAccessoryTypeSwitch</string>
				<key>UserDefaultKey</key>
				<string>UseTestServer</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypeSeparator</string>
	</dict>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypeButton</string>
		<key>TableViewContent</key>
		<array>
			<dict>
				<key>ButtonTitle</key>
				<string>Change Password</string>
				<key>ButtonTarget</key>
				<string>didClickChangePasswordButton:</string>
			</dict>
			<dict>
				<key>ButtonTitle</key>
				<string>Tutorial</string>
				<key>ButtonTarget</key>
				<string>didClickTutorialButton:</string>
			</dict>
			<dict>
				<key>ButtonTitle</key>
				<string>Term of Use</string>
				<key>ButtonTarget</key>
				<string>didClickTermOfUseButton:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypeSeparator</string>
	</dict>
	<dict>
		<key>RequireOSVersion</key>
		<real>6</real>
		<key>TableViewType</key>
		<string>TableViewTypeButton</string>
		<key>TableViewContent</key>
		<array>
			<dict>
				<key>ButtonTitle</key>
				<string>Share</string>
				<key>ButtonTarget</key>
				<string>didClickShareButton:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypeButton</string>
		<key>TableViewContent</key>
		<array>
			<dict>
				<key>ButtonTitle</key>
				<string>Feedback</string>
				<key>ButtonTarget</key>
				<string>didClickFeedbackButton:</string>
			</dict>
			<dict>
				<key>ButtonTitle</key>
				<string>Rate WeTongji</string>
				<key>ButtonTarget</key>
				<string>didClickRateButton:</string>
			</dict>
			<dict>
				<key>ButtonTitle</key>
				<string>Visit Official Website</string>
				<key>ButtonTarget</key>
				<string>didClickVisitOfficialWebsiteButton:</string>
			</dict>
			<dict>
				<key>ButtonTitle</key>
				<string>Team Member</string>
				<key>ButtonTarget</key>
				<string>didClickTeamButton:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypeSeparator</string>
	</dict>
	<dict>
		<key>TableViewType</key>
		<string>TableViewTypeButton</string>
		<key>TableViewContent</key>
		<array>
			<dict>
				<key>ButtonTitle</key>
				<string>Switch Account</string>
				<key>ButtonTarget</key>
				<string>didClickSwitchAccountButton:</string>
			</dict>
			<dict>
				<key>ButtonTitle</key>
				<string>Logout</string>
				<key>ButtonStyle</key>
				<string>ButtonStyleFocus</string>
				<key>ButtonTarget</key>
				<string>didClickLogoutButton:</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
